
body{
font-family: Arial, sans-serif;
margin:0;
background:#0f172a;
color:white;
}

header{
text-align:center;
padding:40px;
background:#020617;
}

.profile{
width:150px;
border-radius:50%;
margin-bottom:15px;
}

nav{
display:flex;
justify-content:center;
gap:20px;
background:#1e293b;
padding:12px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

section{
padding:40px;
max-width:900px;
margin:auto;
}

.project{
background:#1e293b;
padding:20px;
margin-top:15px;
border-radius:8px;
}

footer{
text-align:center;
padding:20px;
background:#020617;
}
